<nav class="sticky top-0 z-50 w-full bg-primary">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">

      <!-- Logo -->
      <a routerLink="/" class="flex items-center gap-2 group">
        <span class="text-2xl italic text-[#b8975a]" style="font-family:'Cormorant Garamond',serif;">Guevara</span>
        <span class="text-2xl italic text-white " style="font-family:'Cormorant Garamond',serif;">Librerías</span>
      </a>

      <!-- Desktop Nav -->
      <div class="hidden md:flex items-center gap-6">
        <a routerLink="/" routerLinkActive="opacity-100" [routerLinkActiveOptions]="{exact:true}"
          class="text-white/70 hover:text-white text-sm transition-colors">Inicio</a>
        <a routerLink="/books" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact:false}"
          class="text-white/70 hover:text-white text-sm transition-colors">Libros</a>
        <a routerLink="/faqs" class="text-white/70 hover:text-white text-sm transition-colors">Faqs</a>
      </div>

      <!-- Right icons -->
      <div class="flex items-center gap-3">
        @if (authService.authStatus() === 'authenticated') {
        @if(authService.user()?.role === 'Admin'){
        <a [routerLink]="authService.user()?.role === 'Admin' ? '/admin/dashboard' : '/auth/profile'"
          class="hidden md:flex items-center gap-1.5 text-white/70 hover:text-white text-sm transition-colors">
          <i class="pi pi-gauge w-4 h-4"></i>
          Dashboard
        </a>
        }@else {
        <a [routerLink]="authService.user()?.role === 'Admin' ? '/admin/dashboard' : '/auth/profile'"
          class="hidden md:flex items-center gap-1.5 text-white/70 hover:text-white text-sm transition-colors">
          <i class="pi pi-user w-4 h-4"></i>
          {{ authService.user()?.role === 'Admin' ? 'Administrador' : authService.user()?.username }}
        </a>
        <a routerLink="/books/cart" class="relative flex items-center text-white/70 hover:text-white transition-colors">
          <i class="pi pi-shopping-cart w-4 h-4"></i>
          @if (cartCount() > 0) {
          <span
            class="absolute -top-2 -right-2 w-4 h-4 rounded-full text-[10px] font-medium flex items-center justify-center text-white"
            style="background-color:#b8975a">
            {{ cartCount() }}
          </span>
          }
        </a>
        }

        }
        @else {
        <a routerLink="/auth/login"
          class="hidden md:flex items-center gap-1.5 text-white/70 hover:text-white text-sm transition-colors">
          <i class="pi pi-user w-4 h-4"></i>
          Acceder
        </a>
        }
        <!-- Mobile hamburger -->
        <button (click)="toggleMobile()" class="md:hidden text-white/70 hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  @if (mobileOpen()) {
  <div class="md:hidden border-t border-white/10" style="background-color:#011a16">
    <div class="px-4 py-3 flex flex-col gap-3">
      <a routerLink="/" (click)="toggleMobile()" class="text-white/80 hover:text-white text-sm py-1">Inicio</a>
      <a routerLink="/books" (click)="toggleMobile()" class="text-white/80 hover:text-white text-sm py-1">Libros</a>



      @if (authService.authStatus() === 'authenticated') {
      @if(authService.user()?.role === 'Admin'){
      <a routerLink="/admin/dashboard" (click)="toggleMobile()"
        class="text-white/80 hover:text-white text-sm py-1">Dashboard</a>
      }
      @else {
      <a routerLink="/auth/profile" (click)="toggleMobile()" class="text-white/80 hover:text-white text-sm py-1">Mi
        Perfil</a>
      }
      }@else {
      <a routerLink="/auth/login" (click)="toggleMobile()"
        class="text-white/80 hover:text-white text-sm py-1">Acceder</a>
      }
    </div>
  </div>
  }
</nav>